.main{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.iblOffers{
    padding: 15px;
    box-sizing: border-box;
    width: 100%;
    font-weight: 700;
    border-bottom: 1px solid rgb(180, 42, 42);
}
.HtmlTemplateSelector{
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    border-bottom: 1px solid red;
}
.csvInput{
    width: 100%;
}
.buttons{
    padding: 12px;
    box-sizing: border-box;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.submit{
    background-color: blue;
    color: #fff;
    padding: 8px 16px;
    border-radius: 4px;
}

.previewContainer {
  margin-top: 30px;
  border: 1px solid #ccc;
  padding: 20px;
  background: #f9f9f9;
}

.previewBox {
  border: 1px dashed #aaa;
  padding: 20px;
  overflow-x: auto;
  background-color: white;
}
